<ion-header>

  <ion-navbar>
    <ion-title>消防检查结果</ion-title>
  </ion-navbar>
  <ion-toolbar>

    <ion-buttons start>
      <button ion-button (click)="dismiss()">
        <span ion-text color="primary" showWhen="ios">取消</span>
        <ion-icon name="md-close" showWhen="android,windows"></ion-icon>
      </button>

    </ion-buttons>
    <ion-buttons end>
      <button ion-button (click)="submit()" right>
        <span ion-text color="primary" showWhen="ios">保存</span>
        <ion-icon name="md-checkmark-circle-outline" showWhen="android,windows"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content padding>
  <ion-list>
    
      <div class="cond" *ngFor="let item of items">
      <ion-label>{{item.text}}</ion-label>
      <ion-select [(ngModel)]="item.value" (ionChange)="optionchange($event,item.key)"  *ngIf="item.text!=null">
        <ion-option value=""></ion-option>
        <ion-option value="不合格">不合格</ion-option>
        <ion-option value="合格">合格</ion-option>
      </ion-select>
      <div class="imgs" *ngIf="item.imgs">
        <img width="100%" src="{{domain}}{{item.imgs[0].ATTACHMENTPATH}}"/>
      </div>
      </div>
      
    
  </ion-list>
        
</ion-content>